{%extends 'base.html'%}
{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static',filename='bootstrap4/particle.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='bootstrap4/main.css')}}">
{% endblock %}
{%block content%}

   <div class="card">
  <!--    <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Funsplash.com%2F&psig=AOvVaw3bcdReBRtqvvDqX9FQsigF&ust=1601064895594000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCPDt6tnNguwCFQAAAAAdAAAAABAP" alt="profile_pic" class="rounded-image">-->

    <h1>{{user.username}}</h1>
    <h1>{{user.email}}</h1>
   </div>

{%endblock%}
